src/lead_generator/agent.json
{
  "name": "Lead Scraper",
  "nodes": [
    {
      "parameters": {
        "operation": "completion",
        "respondWith": "showText",
        "responseText": "=<style>\n\t:root {\n\t\t--font-family: 'Open Sans', sans-serif;\n\t\t--font-weight-normal: 400;\n\t\t--font-weight-bold: 600;\n\t\t--font-size-header: 20px;\n\t\t--font-size-paragraph: 14px;\n\t\t--font-size-link: 14px;\n\t\t--font-size-signature: 12px;\n\n\t\t/* Colors */\n\t\t--color-background: #fbfcfe;\n\t\t--color-card-bg: #ffffff;\n\t\t--color-card-border: #dbdfe7;\n\t\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t\t--color-header: #525356;\n\t\t--color-submit-btn-bg: #ff6d5a;\n\t\t--color-submit-btn-text: #ffffff;\n\t\t--color-html-text: #555;\n\t\t--color-success-green: #0f9d58; \n\t\t--color-signature-text: #7e8186;\n\t\t--color-signature-link: #2563eb; /* Şık bir Royal Blue tonu */\n\n\t\t/* Border Radii */\n\t\t--border-radius-card: 8px;\n\t\t--border-radius-input: 6px;\n\n\t\t/* Spacing */\n\t\t--padding-card: 24px;\n\t\t--submit-btn-height: 48px;\n\t\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t}\n\n\t.custom-success-page {\n\t\tfont-family: var(--font-family);\n\t\tbackground-color: var(--color-background);\n\t\tdisplay: flex;\n\t\tjustify-content: center;\n\t\talign-items: center;\n\t\tpadding: 40px 20px;\n\t\tmin-height: 50vh;\n\t\tbox-sizing: border-box;\n\t}\n\n\t.success-card {\n\t\tbackground-color: var(--color-card-bg);\n\t\tborder: 1px solid var(--color-card-border);\n\t\tborder-radius: var(--border-radius-card);\n\t\tbox-shadow: var(--box-shadow-card);\n\t\tpadding: 32px var(--padding-card);\n\t\tmax-width: 448px;\n\t\twidth: 100%;\n\t\ttext-align: center;\n\t}\n\n\t.icon-wrapper {\n\t\tfont-size: 56px;\n\t\tmargin-bottom: 16px;\n\t\tline-height: 1;\n\t}\n\n\t.title {\n\t\tcolor: var(--color-header);\n\t\tfont-size: var(--font-size-header);\n\t\tfont-weight: var(--font-weight-bold);\n\t\tmargin: 0 0 12px 0;\n\t}\n\n\t.message {\n\t\tcolor: var(--color-html-text);\n\t\tfont-size: var(--font-size-paragraph);\n\t\tline-height: 1.6;\n\t\tmargin: 0 0 24px 0;\n\t}\n\n\t.highlight {\n\t\tfont-weight: var(--font-weight-bold);\n\t\tcolor: var(--color-submit-btn-bg);\n\t}\n\n\t.btn-new-record {\n\t\tdisplay: inline-flex;\n\t\talign-items: center;\n\t\tjustify-content: center;\n\t\tbackground-color: var(--color-submit-btn-bg);\n\t\tcolor: var(--color-submit-btn-text);\n\t\ttext-decoration: none;\n\t\theight: var(--submit-btn-height);\n\t\tpadding: 0 24px;\n\t\tborder-radius: var(--border-radius-input);\n\t\tfont-size: var(--font-size-paragraph);\n\t\tfont-weight: var(--font-weight-bold);\n\t\ttransition: opacity 0.2s ease, transform 0.1s ease;\n\t\twidth: 100%;\n\t\tbox-sizing: border-box;\n\t\tmargin-bottom: 20px;\n\t}\n\n\t.btn-new-record:hover {\n\t\topacity: 0.9;\n\t\ttransform: translateY(-1px);\n\t}\n\t\n\t.btn-new-record:active {\n\t\ttransform: translateY(1px);\n\t}\n\n\t.link-secondary {\n\t\tdisplay: inline-block;\n\t\tcolor: var(--color-success-green);\n\t\tfont-size: var(--font-size-link);\n\t\tfont-weight: var(--font-weight-bold);\n\t\ttext-decoration: none;\n\t\ttransition: opacity 0.2s ease;\n\t}\n\n\t.link-secondary:hover {\n\t\topacity: 0.8;\n\t\ttext-decoration: underline;\n\t}\n\n\t/* Yeni Eklenen İmza Stilleri */\n\t.signature-wrapper {\n\t\tmargin-top: 32px;\n\t\tpadding-top: 16px;\n\t\tborder-top: 1px solid var(--color-card-border); /* İnce bir çizgi ile ayırma */\n\t\tcolor: var(--color-signature-text);\n\t\tfont-size: var(--font-size-signature);\n\t}\n\n\t.signature-link {\n\t\tcolor: var(--color-signature-link);\n\t\tfont-weight: var(--font-weight-bold);\n\t\ttext-decoration: none;\n\t\ttransition: opacity 0.2s ease;\n\t}\n\n\t.signature-link:hover {\n\t\topacity: 0.8;\n\t\ttext-decoration: underline;\n\t}\n</style>\n\n<div class=\"custom-success-page\">\n\t<div class=\"success-card\">\n\t\t<div class=\"icon-wrapper\">🚀</div>\n\t\t<h2 class=\"title\">Done!</h2>\n\t\t<p class=\"message\"> For the search\n\t\t\t<span class=\"highlight\">{{ $('Form Start').first().json.keyword }}</span> <span class=\"highlight\">{{ $json.count }}</span> new records have been successfully added to the database.\n\t\t</p>\n\t\t\n\t\t<a href=\"https://n8n.beydahsaglam.com/form/demiroz-lead\" class=\"btn-new-record\">\n\t\t\t+ New Searching\n\t\t</a>\n\n\t\t<a href=\"https://docs.google.com/spreadsheets/d\" target=\"_blank\" class=\"link-secondary\">\n\t\t\t📊 Go Table\n\t\t</a>\n\n\t\t<div class=\"signature-wrapper\">\n\t\t\tMade by <a href=\"https://beydahsaglam.com\" target=\"_blank\" class=\"signature-link\">Beydah</a>\n\t\t</div>\n\t</div>\n</div>"
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        2080,
        624
      ],
      "id": "49605e38-f508-4a1f-9573-16aecb8a33e7",
      "name": "Form End",
      "webhookId": "f8d402ae-5880-44c6-808c-a17ae35329e3"
    },
    {
      "parameters": {
        "formTitle": "Lead Scraper",
        "formDescription": "Awesome Lead Scraper",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Keyword",
              "fieldName": "keyword",
              "placeholder": "Istanbul Cafe",
              "requiredField": true
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {
          "appendAttribution": false,
          "buttonLabel": "Search",
          "path": "lead-scraper",
          "ignoreBots": true,
          "useWorkflowTimezone": true
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -128,
        160
      ],
      "id": "ebcb5e1c-2634-4b6f-90a8-d1f258f41590",
      "name": "Form Start",
      "webhookId": "ad045b34-06c9-464b-a2bf-a43e5308e849"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d401ea41-0f98-49f5-8a5d-a34041814b4b",
              "name": "API_Google-Maps",
              "value": "ENTER_YOUR_API_KEY",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        160
      ],
      "id": "cac78e86-fc97-4fca-b386-33c8d9621dd7",
      "name": "Secret"
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/place/textsearch/json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $('Form Start').item.json.keyword }}"
            },
            {
              "name": "key",
              "value": "={{ $json['API_Google-Maps'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        336,
        160
      ],
      "id": "994827b9-84e8-4e2f-8e10-760f92a4c34e",
      "name": "Maps Page 1",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/place/textsearch/json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "pagetoken",
              "value": "={{ $('Maps Page 1').item.json.next_page_token }}"
            },
            {
              "name": "query",
              "value": "={{ $('Form Start').item.json.keyword }}"
            },
            {
              "name": "key",
              "value": "={{ $('Secret').item.json['API_Google-Maps'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        336,
        352
      ],
      "id": "9038fd5f-b656-48b9-80d8-a09bc71a83c5",
      "name": "Maps Page 2",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/place/textsearch/json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $('Form Start').item.json.keyword }}"
            },
            {
              "name": "key",
              "value": "={{ $('Secret').item.json['API_Google-Maps'] }}"
            },
            {
              "name": "=pagetoken",
              "value": "={{ $('Maps Page 2').item.json.next_page_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        336,
        544
      ],
      "id": "517fd676-0335-416b-a8c2-b67bd5a52f47",
      "name": "Maps Page 3",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b826c221-bc46-4c8e-b8b3-db767fca6e9e",
              "name": "results",
              "value": "={{ $json.results }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        160
      ],
      "id": "897a78ef-4912-4fa0-a9f2-beda9fecbe34",
      "name": "Result 1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b826c221-bc46-4c8e-b8b3-db767fca6e9e",
              "name": "results",
              "value": "={{ $json.results }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        352
      ],
      "id": "bddc5285-c353-4e18-97b9-b0782fb5388c",
      "name": "Result 2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b826c221-bc46-4c8e-b8b3-db767fca6e9e",
              "name": "results",
              "value": "={{ $json.results }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        544
      ],
      "id": "c4299e25-4827-42a2-a9af-9a34b9e5e6bd",
      "name": "Result 3"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        512,
        160
      ],
      "id": "889a1dd7-be93-434d-826f-9b318d133988",
      "name": "Wait 1",
      "webhookId": "2ab1550a-543c-4164-ba60-9bd7bd97a974"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        512,
        352
      ],
      "id": "f62750c0-4a18-4d9b-ae9f-7cccfdfad24a",
      "name": "Wait 2",
      "webhookId": "17b3932b-3c44-447d-a61f-9d32c8e3e172"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        512,
        544
      ],
      "id": "15ad3095-2d68-47d6-ab92-0c3486f7dc35",
      "name": "Wait 3",
      "webhookId": "47ec47b6-f8a2-461b-90e5-de4252f39433"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1824,
        192
      ],
      "id": "349aaacf-c46f-4b5e-8723-24249cee0421",
      "name": "Wait 4",
      "webhookId": "cf5310c7-7eb5-4d4e-888d-45318e93086a"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      count: $input.first().json.ID.length\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        624
      ],
      "id": "57d18473-6407-4812-bd79-c1e4300f60b0",
      "name": "Count"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        976,
        176
      ],
      "id": "4ed85666-ccdd-4a68-b321-5f21cc1e6f50",
      "name": "Merge"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1_BjBXYnsOZuQ7CRcir9fXc9Uov4d0-93oRSDTJ1sHD4",
          "mode": "list",
          "cachedResultName": "DB_Demiroz-Plastik",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_BjBXYnsOZuQ7CRcir9fXc9Uov4d0-93oRSDTJ1sHD4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "TB_Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_BjBXYnsOZuQ7CRcir9fXc9Uov4d0-93oRSDTJ1sHD4/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1616,
        192
      ],
      "id": "5543bf1e-e861-47f6-8fd2-1e2aca47093f",
      "name": "Get Table",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Rd5WeCtyFVrIl5KT",
          "name": "Demiroz_Google-Sheets"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// 1. Mevcut verileri (Google Sheets) al\nconst existingItems = $('Get Table').all();\n\n// Hata Kontrolü\nif (!existingItems || existingItems.length === 0) {\n  throw new Error(\"Hata: Google Sheets (Get Table) üzerinden veri alınamadı veya tablo boş!\");\n}\n\n// 2. Tablodaki ID'leri bir listeye (Set) çıkar\n// ÖNEMLİ DEĞİŞİKLİK: Adını 'seenIds' yaptık çünkü bunu ana kontrol havuzumuz yapacağız.\nconst seenIds = new Set(existingItems.map(item => item.json.ID));\n\n// 3. Yeni gelen verileri (Aggregate) al\nconst aggregateItem = $('Aggregate 1').first();\nconst newLeads = aggregateItem?.json?.results;\n\n// Veri gelmeme ihtimaline karşı güvenlik kontrolü\nif (!newLeads || !Array.isArray(newLeads)) {\n    throw new Error(\"Hata: Aggregate düğümünde 'results' dizisi bulunamadı!\");\n}\n\n// 4. Çifte Karşılaştırma: Kendi içindeki ve tablodaki tekrarları engelle\nconst uniquePlaceIds = [];\n\nnewLeads.forEach(lead => {\n  const placeId = lead.place_id;\n  \n  // Eğer place_id var ve ŞU ANA KADAR HİÇ GÖRMEDİYSEK (ne tabloda ne de bir önceki döngü adımında)\n  if (placeId && !seenIds.has(placeId)) {\n    \n    // 4.1 Sonuç dizisine ekle\n    uniquePlaceIds.push({\n      json: {\n        place_id: placeId\n      }\n    });\n    \n    // 4.2 KRİTİK ADIM: Bu placeId'yi Görülenler Havuzuna (seenIds) ekle!\n    // Böylece newLeads içinde aynı ID bir daha gelirse if bloğuna giremez.\n    seenIds.add(placeId); \n  }\n});\n\n// 5. Sonuç döndür\nreturn uniquePlaceIds;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2064,
        192
      ],
      "id": "3227fdbf-8557-4c5d-a86f-e3558478e13a",
      "name": "Code"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1408,
        400
      ],
      "id": "f1d4fc17-2986-4d35-9650-ff5aaed4afd3",
      "name": "Wait 5",
      "webhookId": "82076d63-38e4-4e96-8429-19881b8feb02"
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/place/details/json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "place_id",
              "value": "={{ $json.place_id }}"
            },
            {
              "name": "fields",
              "value": "name,formatted_phone_number,url"
            },
            {
              "name": "key",
              "value": "={{ $('Secret').item.json['API_Google-Maps'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1200,
        400
      ],
      "id": "7d31e224-8cec-4e2f-b157-8b9504a903a1",
      "name": "Get Leads",
      "retryOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6714af63-1662-42a2-8599-2739e082ec85",
              "leftValue": "={{ $('Get Leads').item.json.result.formatted_phone_number }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1824,
        400
      ],
      "id": "8ca1a746-73ca-434d-b435-9cb188c807a6",
      "name": "Filter",
      "retryOnFail": false,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1_BjBXYnsOZuQ7CRcir9fXc9Uov4d0-93oRSDTJ1sHD4",
          "mode": "list",
          "cachedResultName": "DB_Demiroz-Plastik",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_BjBXYnsOZuQ7CRcir9fXc9Uov4d0-93oRSDTJ1sHD4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "TB_Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_BjBXYnsOZuQ7CRcir9fXc9Uov4d0-93oRSDTJ1sHD4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Isletme": "={{ $json.result.name }}",
            "Telefon": "={{ $json.result.formatted_phone_number }}",
            "Link": "={{ $json.result.url }}",
            "Durum": "New",
            "ID": "={{ $('Code').item.json.place_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Isletme",
              "displayName": "Isletme",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefon",
              "displayName": "Telefon",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Durum",
              "displayName": "Durum",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2288,
        400
      ],
      "id": "60c44921-e652-4b8c-b185-677f2c6c18ae",
      "name": "Add Table",
      "retryOnFail": true,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Rd5WeCtyFVrIl5KT",
          "name": "Demiroz_Google-Sheets"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "ID"
            }
          ]
        },
        "options": {
          "mergeLists": true
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1408,
        624
      ],
      "id": "3597fb5e-50e6-4683-b6f1-503f9c6cccc6",
      "name": "Aggregate 2"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "results"
            }
          ]
        },
        "options": {
          "mergeLists": true
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1408,
        192
      ],
      "id": "87200e6f-60dc-4efd-bb00-6c33a477b5aa",
      "name": "Aggregate 1"
    },
    {
      "parameters": {
        "content": "## Get TB\nCreate the Google Sheets connection point and define the table.\n\nThe table must include columns for ID, Company, Phone, Connection, and Status.",
        "height": 368,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1552,
        -16
      ],
      "typeVersion": 1,
      "id": "0041999d-c656-45eb-b107-8a8839397029",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## APIs\nCreate a project on Google Cloud, then activate the Google Maps API and retrieve the API key.",
        "height": 368,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        80,
        -48
      ],
      "typeVersion": 1,
      "id": "74e232ef-a080-4e25-a328-2946e63ae571",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Get Places\nWe are sending a request to Google Place with the same API key, and here we are asking for the business name, phone number, and Google Maps link as parameters, but we could have asked for more.",
        "height": 368,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1136,
        192
      ],
      "typeVersion": 1,
      "id": "c448bc8d-53de-45e1-b5c6-64f610794d6e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Add TB\nFinally, we add the data we have collected to the relevant columns.\n\nThe table must include columns for ID, Company, Phone, Connection, and Status.",
        "height": 368,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2224,
        192
      ],
      "typeVersion": 1,
      "id": "0c1f5d4e-008a-4b2d-88b0-67cc964e633c",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Info\nThis is a free lead generation bot that uses Google Maps and Places APIs for up to 1000 requests per month.\n\nIn the current workflow, a maximum of 60 businesses are visited in a single lead generation attempt with 4 requests.\n\nIt retrieves keywords from the form, finds 60 businesses, then checks existing leads on Google Sheets to see if they have been added, and adds unique businesses to the table.\n\nWeb: https://beydahsaglam.com\n\nGitHub: https://github.com/beydah\n\nLinkedIn: https://linkedin.com/in/beydah",
        "height": 704
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -192,
        -384
      ],
      "typeVersion": 1,
      "id": "7c3819e4-9799-451f-8c57-cf09333ebb6b",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {
    "Form Start": [
      {
        "json": {
          "keyword": "Istanbul Cafe",
          "submittedAt": "2026-04-03T18:41:34.080+03:00",
          "formMode": "test"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Secret": [
      {
        "json": {
          "API_Google-Maps": "ENTER_YOUR_API_KEY",
          "ID_DB_Google-Sheets": "ENTER_YOUR_ID"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Form End": {
      "main": [
        []
      ]
    },
    "Form Start": {
      "main": [
        [
          {
            "node": "Secret",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Secret": {
      "main": [
        [
          {
            "node": "Maps Page 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Maps Page 1": {
      "main": [
        [
          {
            "node": "Wait 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Maps Page 2": {
      "main": [
        [
          {
            "node": "Wait 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Maps Page 3": {
      "main": [
        [
          {
            "node": "Wait 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Result 1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Result 2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Result 3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Wait 1": {
      "main": [
        [
          {
            "node": "Maps Page 2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Result 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2": {
      "main": [
        [
          {
            "node": "Maps Page 3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Result 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3": {
      "main": [
        [
          {
            "node": "Result 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count": {
      "main": [
        [
          {
            "node": "Form End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 4": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Table": {
      "main": [
        [
          {
            "node": "Wait 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Get Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Leads": {
      "main": [
        [
          {
            "node": "Wait 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Add Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Table": {
      "main": [
        [
          {
            "node": "Aggregate 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate 2": {
      "main": [
        [
          {
            "node": "Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate 1": {
      "main": [
        [
          {
            "node": "Get Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7d608a6c-3085-48b8-a5f4-50b1482e0f93",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5be92589928b0de4efe393c059289760fbc27fff696c35d698486b52a2613630"
  },
  "id": "eF6qMyvMttplQaQp",
  "tags": [
    {
      "updatedAt": "2026-04-02T17:10:24.626Z",
      "createdAt": "2026-04-02T17:10:24.626Z",
      "id": "CKlrtz1vWGixXnf8",
      "name": "Data"
    }
  ]
}
