src/lead_scraper/agent.json
{
  "name": "Lead-Scraper",
  "nodes": [
    {
      "parameters": {
        "operation": "completion",
        "respondWith": "showText",
        "responseText": "<style>\n\t:root {\n\t\t--font-family: 'Open Sans', sans-serif;\n\t\t--font-weight-normal: 400;\n\t\t--font-weight-bold: 600;\n\t\t--font-size-header: 20px;\n\t\t--font-size-paragraph: 14px;\n\t\t--font-size-link: 14px;\n\t\t--font-size-signature: 12px;\n\n\t\t/* Colors */\n\t\t--color-background: #fbfcfe;\n\t\t--color-card-bg: #ffffff;\n\t\t--color-card-border: #dbdfe7;\n\t\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t\t--color-header: #525356;\n\t\t--color-submit-btn-bg: #ff6d5a;\n\t\t--color-submit-btn-text: #ffffff;\n\t\t--color-html-text: #555;\n\t\t--color-success-green: #0f9d58; \n\t\t--color-signature-text: #7e8186;\n\t\t--color-signature-link: #2563eb;\n\n\t\t/* Border Radii */\n\t\t--border-radius-card: 8px;\n\t\t--border-radius-input: 6px;\n\n\t\t/* Spacing */\n\t\t--padding-card: 24px;\n\t\t--submit-btn-height: 48px;\n\t\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t}\n\n\t.custom-success-page {\n\t\tfont-family: var(--font-family);\n\t\tbackground-color: var(--color-background);\n\t\tdisplay: flex;\n\t\tjustify-content: center;\n\t\talign-items: center;\n\t\tpadding: 40px 20px;\n\t\tmin-height: 50vh;\n\t\tbox-sizing: border-box;\n\t}\n\n\t.success-card {\n\t\tbackground-color: var(--color-card-bg);\n\t\tborder: 1px solid var(--color-card-border);\n\t\tborder-radius: var(--border-radius-card);\n\t\tbox-shadow: var(--box-shadow-card);\n\t\tpadding: 32px var(--padding-card);\n\t\tmax-width: 448px;\n\t\twidth: 100%;\n\t\ttext-align: center;\n\t}\n\n\t.icon-wrapper {\n\t\tfont-size: 56px;\n\t\tmargin-bottom: 16px;\n\t\tline-height: 1;\n\t}\n\n\t.title {\n\t\tcolor: var(--color-header);\n\t\tfont-size: var(--font-size-header);\n\t\tfont-weight: var(--font-weight-bold);\n\t\tmargin: 0 0 12px 0;\n\t}\n\n\t.message {\n\t\tcolor: var(--color-html-text);\n\t\tfont-size: var(--font-size-paragraph);\n\t\tline-height: 1.6;\n\t\tmargin: 0 0 24px 0;\n\t}\n\n\t.highlight {\n\t\tfont-weight: var(--font-weight-bold);\n\t\tcolor: var(--color-submit-btn-bg);\n\t}\n\n\t.btn-new-record {\n\t\tdisplay: inline-flex;\n\t\talign-items: center;\n\t\tjustify-content: center;\n\t\tbackground-color: var(--color-submit-btn-bg);\n\t\tcolor: var(--color-submit-btn-text);\n\t\ttext-decoration: none;\n\t\theight: var(--submit-btn-height);\n\t\tpadding: 0 24px;\n\t\tborder-radius: var(--border-radius-input);\n\t\tfont-size: var(--font-size-paragraph);\n\t\tfont-weight: var(--font-weight-bold);\n\t\ttransition: opacity 0.2s ease, transform 0.1s ease;\n\t\twidth: 100%;\n\t\tbox-sizing: border-box;\n\t\tmargin-bottom: 20px;\n\t}\n\n\t.btn-new-record:hover {\n\t\topacity: 0.9;\n\t\ttransform: translateY(-1px);\n\t}\n\t\n\t.btn-new-record:active {\n\t\ttransform: translateY(1px);\n\t}\n\n\t.link-secondary {\n\t\tdisplay: inline-block;\n\t\tcolor: var(--color-success-green);\n\t\tfont-size: var(--font-size-link);\n\t\tfont-weight: var(--font-weight-bold);\n\t\ttext-decoration: none;\n\t\ttransition: opacity 0.2s ease;\n\t}\n\n\t.link-secondary:hover {\n\t\topacity: 0.8;\n\t\ttext-decoration: underline;\n\t}\n\n\t.signature-wrapper {\n\t\tmargin-top: 32px;\n\t\tpadding-top: 16px;\n\t\tborder-top: 1px solid var(--color-card-border);\n\t\tcolor: var(--color-signature-text);\n\t\tfont-size: var(--font-size-signature);\n\t}\n\n\t.signature-link {\n\t\tcolor: var(--color-signature-link);\n\t\tfont-weight: var(--font-weight-bold);\n\t\ttext-decoration: none;\n\t\ttransition: opacity 0.2s ease;\n\t}\n\n\t.signature-link:hover {\n\t\topacity: 0.8;\n\t\ttext-decoration: underline;\n\t}\n</style>\n\n<div class=\"custom-success-page\">\n\t<div class=\"success-card\">\n\t\t<div class=\"icon-wrapper\">🚀</div>\n\t\t<h2 class=\"title\">Process Completed!</h2>\n\t\t<p class=\"message\">\n\t\t\t<span class=\"highlight\">{{ $json.count }}</span> new records for <span class=\"highlight\">{{ $('Variable').item.json.Location }} - {{ $('Variable').item.json.Keyword }}</span> have been successfully added to the database.\n\t\t</p>\n\t\t\n\t\t<a href=\"https://your-n8n-instance.com/form/lead-scraper\" class=\"btn-new-record\">\n\t\t\t+ Start New Search\n\t\t</a>\n\n\t\t<a href=\"https://docs.google.com/spreadsheets/d/ENTER_YOUR_SPREADSHEET_ID/edit?usp=sharing\" target=\"_blank\" class=\"link-secondary\">\n\t\t\t📊 Go to Table\n\t\t</a>\n\n\t\t<div class=\"signature-wrapper\">\n\t\t\tWorkflow by <a href=\"https://github.com/your-github\" target=\"_blank\" class=\"signature-link\">n8n AI Agent Hub</a>\n\t\t</div>\n\t</div>\n</div>"
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        1984,
        384
      ],
      "id": "d1fd33bc-6228-4cd6-bbb7-56f99468008f",
      "name": "Form End",
      "webhookId": "6fc9d0ea-8695-4e9d-befc-0ca9bb3323a2"
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "formTitle": "Lead Scraper",
        "formDescription": "Automated Google Maps Lead Scraper Agent. Finds potential customers by keyword and location, and saves them to a Google Sheet.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Location",
              "fieldName": "location",
              "placeholder": "New York"
            },
            {
              "fieldLabel": "Keyword",
              "fieldName": "keyword",
              "placeholder": "Bakery"
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "buttonLabel": "Search Leads",
          "path": "lead-scraper",
          "ignoreBots": true,
          "useWorkflowTimezone": true
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        240,
        0
      ],
      "id": "18532b1a-6118-480c-aba5-679c5a59705a",
      "name": "Form Start",
      "webhookId": "d898656f-2af2-4a67-b495-814bd7c61494",
      "credentials": {
        "httpBasicAuth": {
          "id": "ENTER_YOUR_BASIC_AUTH_ID",
          "name": "ENTER_YOUR_BASIC_AUTH_NAME"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        640,
        192
      ],
      "id": "494761d3-fcd4-41bd-b8dd-e231747c82eb",
      "name": "Wait 2",
      "webhookId": "ca1962a2-ce11-4beb-9940-8448e6aeaa1c"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1600,
        0
      ],
      "id": "db3b51f6-3c2c-4416-a495-3a090343e1a3",
      "name": "Wait 4",
      "webhookId": "ca1962a2-ce11-4beb-9940-8448e6aeaa1c"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "ENTER_YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "ENTER_YOUR_SPREADSHEET_NAME",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/ENTER_YOUR_SPREADSHEET_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "ENTER_YOUR_SHEET_NAME_OR_GID",
          "mode": "list",
          "cachedResultName": "ENTER_YOUR_SHEET_NAME",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/ENTER_YOUR_SPREADSHEET_ID/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1408,
        0
      ],
      "id": "91f54784-0efe-4244-bfeb-33e3172ae6b7",
      "name": "Get Table",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ENTER_YOUR_GOOGLE_SHEETS_CREDENTIALS_ID",
          "name": "ENTER_YOUR_GOOGLE_SHEETS_CREDENTIALS_NAME"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1408,
        192
      ],
      "id": "0cfbfa28-17f8-47ff-a15a-78b3aff0948a",
      "name": "Wait 5",
      "webhookId": "ca1962a2-ce11-4beb-9940-8448e6aeaa1c"
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/place/details/json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $('Variable').first().json.Key }}"
            },
            {
              "name": "fields",
              "value": "place_id,formatted_phone_number,url"
            },
            {
              "name": "place_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1216,
        192
      ],
      "id": "58cba849-4df0-4b80-a5e3-f5e15fefb75a",
      "name": "Get Leads",
      "retryOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "ENTER_YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "ENTER_YOUR_SPREADSHEET_NAME",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/ENTER_YOUR_SPREADSHEET_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "ENTER_YOUR_SHEET_NAME_OR_GID",
          "mode": "list",
          "cachedResultName": "ENTER_YOUR_SHEET_NAME",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/ENTER_YOUR_SPREADSHEET_ID/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company": "={{ $json.name }}",
            "Phone": "={{ $json.phone }}",
            "Link": "={{ $json.url }}",
            "Status": "New",
            "ID": "={{ $json.id }}",
            "Location": "={{ $('Variable').first().json.Location }}",
            "Keyword": "={{ $('Variable').first().json.Keyword }}",
            "Date": "={{ $now.toFormat('dd.MM.yyyy HH:mm') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Keyword",
              "displayName": "Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1408,
        384
      ],
      "id": "b07c000c-91ff-45d0-ab8e-3e724d5a0573",
      "name": "Add Table",
      "retryOnFail": true,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ENTER_YOUR_GOOGLE_SHEETS_CREDENTIALS_ID",
          "name": "ENTER_YOUR_GOOGLE_SHEETS_CREDENTIALS_NAME"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/geocode/json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $json.Key }}"
            },
            {
              "name": "address",
              "value": "={{ $json.Location }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        240,
        384
      ],
      "id": "fa305b8d-5d08-4f98-8c6e-55adda666a7c",
      "name": "Maps Location",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d401ea41-0f98-49f5-8a5d-a34041814b4b",
              "name": "Key",
              "value": "ENTER_YOUR_GOOGLE_PLACES_API_KEY",
              "type": "string"
            },
            {
              "id": "e2835a85-96d6-4169-a796-9bbe5ee682c5",
              "name": "Location",
              "value": "={{ $json.location }}",
              "type": "string"
            },
            {
              "id": "2a999272-d183-42b4-95d6-83c57c224093",
              "name": "Keyword",
              "value": "={{ $json.keyword }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        192
      ],
      "id": "6d41380d-ef69-4989-a41e-7aff1ab7a5bf",
      "name": "Variable"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://places.googleapis.com/v1/places:searchText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-Api-Key",
              "value": "={{ $('Variable').item.json.Key }}"
            },
            {
              "name": "X-Goog-FieldMask",
              "value": "places.displayName,places.location,places.id,nextPageToken"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"pageToken\": \"{{ $json.nextPageToken }}\",\n  \"textQuery\": \"{{ $('Variable').item.json.Keyword }}\",\n  \"locationBias\": {\n    \"circle\": {\n      \"center\": {\n        \"latitude\": {{ $('Maps Location').item.json.results[0].geometry.location.lat }}, \n        \"longitude\": {{ $('Maps Location').item.json.results[0].geometry.location.lng }}\n      },\n      \"radius\": 20000.0\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        192
      ],
      "id": "6f88a73d-8bf2-4e52-948d-adb45738a655",
      "name": "Maps Page 2",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://places.googleapis.com/v1/places:searchText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-Api-Key",
              "value": "={{ $('Variable').item.json.Key }}"
            },
            {
              "name": "X-Goog-FieldMask",
              "value": "places.displayName,places.location,places.id,nextPageToken"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"pageToken\": \"{{ $json.nextPageToken }}\",\n  \"textQuery\": \"{{ $('Variable').item.json.Keyword }}\",\n  \"locationBias\": {\n    \"circle\": {\n      \"center\": {\n        \"latitude\": {{ $('Maps Location').item.json.results[0].geometry.location.lat }}, \n        \"longitude\": {{ $('Maps Location').item.json.results[0].geometry.location.lng }}\n      },\n      \"radius\": 20000.0\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        384
      ],
      "id": "5c44d4b3-ddef-49c3-ba06-b4d59cca965a",
      "name": "Maps Page 3",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b826c221-bc46-4c8e-b8b3-db767fca6e9e",
              "name": "places",
              "value": "={{ $json.places }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        0
      ],
      "id": "73441964-e1de-47e6-bd98-018aefa6ee4d",
      "name": "Page 1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b826c221-bc46-4c8e-b8b3-db767fca6e9e",
              "name": "places",
              "value": "={{ $json.places }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        192
      ],
      "id": "c6d9f9f4-f631-44e4-8c26-b642e5399283",
      "name": "Page 2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b826c221-bc46-4c8e-b8b3-db767fca6e9e",
              "name": "places",
              "value": "={{ $json.places }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        384
      ],
      "id": "53ec8634-dbb0-4d83-bcea-f351ecff076b",
      "name": "Page 3"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        640,
        0
      ],
      "id": "c1041a63-851c-4677-9d63-6b10b9f80375",
      "name": "Wait 1",
      "webhookId": "ca1962a2-ce11-4beb-9940-8448e6aeaa1c"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://places.googleapis.com/v1/places:searchText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-Api-Key",
              "value": "={{ $('Variable').item.json.Key }}"
            },
            {
              "name": "X-Goog-FieldMask",
              "value": "places.displayName,places.location,places.id,nextPageToken"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"textQuery\": \"{{ $('Variable').item.json.Keyword }}\",\n  \"locationBias\": {\n    \"circle\": {\n      \"center\": {\n        \"latitude\": {{ $json.results[0].geometry.location.lat }},\n        \"longitude\": {{ $json.results[0].geometry.location.lng }}\n      },\n      \"radius\": 20000.0\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        0
      ],
      "id": "28472ee0-e26b-4704-9b87-8792d747d6f2",
      "name": "Maps Page 1",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1024,
        176
      ],
      "id": "32f10e57-ceec-4cfc-a78b-834e44006c67",
      "name": "Merge Page"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "places"
            }
          ]
        },
        "options": {
          "mergeLists": true
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1216,
        0
      ],
      "id": "6496a62a-fe23-4307-9a73-402d39f26f42",
      "name": "Aggregate Page"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        640,
        384
      ],
      "id": "acc96166-706e-42b5-9c87-d9b885472681",
      "name": "Wait 3",
      "webhookId": "ca1962a2-ce11-4beb-9940-8448e6aeaa1c"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6714af63-1662-42a2-8599-2739e082ec85",
              "leftValue": "={{ $json.result.formatted_phone_number }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1600,
        192
      ],
      "id": "3ade6e36-403e-4f90-b862-033728183c12",
      "name": "Filter Phone",
      "retryOnFail": false,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// 1. Get existing database rows (from Google Sheets)\nconst existingItems = $('Get Table').all();\nif (!Array.isArray(existingItems)) {\n  throw new Error(\"Error: Could not retrieve Google Sheets data.\");\n}\n\n// 2. Extract existing IDs to check for duplicates\nconst seenIds = new Set(\n  existingItems\n    .map(item => item?.json?.ID ?? item?.json?.id)\n    .filter(Boolean)\n);\n\n// 3. Get new scraped places\nconst places = $('Aggregate Page').first()?.json?.places;\nif (!Array.isArray(places)) {\n  throw new Error(\"Error: No places array found in Aggregate node.\");\n}\n\n// 4. Get location coordinates for distance validation\nconst center = $('Maps Location').first()?.json?.results?.[0]?.geometry?.location;\nconst centerLat = center?.lat;\nconst centerLng = center?.lng;\n\nif (typeof centerLat !== 'number' || typeof centerLng !== 'number') {\n  throw new Error(\"Error: Could not retrieve coordinates from Maps Location node.\");\n}\n\nconst MAX_DISTANCE_KM = 25;\nconst EARTH_RADIUS_KM = 6371;\nconst toRad = deg => deg * Math.PI / 180;\n\n// Generic title case helper\nfunction toTitleCase(text) {\n  return text\n    ? text\n        .toLowerCase()\n        .split(/\\s+/)\n        .map(word => word.charAt(0).toUpperCase() + word.slice(1))\n        .join(' ')\n    : null;\n}\n\n// Haversine distance calculator\nfunction getDistanceKm(lat, lng) {\n  const dLat = toRad(lat - centerLat);\n  const dLng = toRad(lng - centerLng);\n\n  const a =\n    Math.sin(dLat / 2) ** 2 +\n    Math.cos(toRad(centerLat)) *\n      Math.cos(toRad(lat)) *\n      Math.sin(dLng / 2) ** 2;\n\n  return 2 * EARTH_RADIUS_KM * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));\n}\n\nconst result = [];\n\nfor (const place of places) {\n  const placeId = place?.id;\n  if (!placeId || seenIds.has(placeId)) continue;\n\n  const location = place?.location;\n  const lat = location?.latitude ?? location?.lat;\n  const lng = location?.longitude ?? location?.lng;\n\n  if (typeof lat !== 'number' || typeof lng !== 'number') continue;\n  if (getDistanceKm(lat, lng) > MAX_DISTANCE_KM) continue;\n\n  result.push({\n    json: {\n      id: placeId,\n      name: toTitleCase(place?.displayName?.text)\n    },\n    pairedItem: { item: 0 }\n  });\n\n  seenIds.add(placeId);\n}\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        0
      ],
      "id": "7547d1ae-ab67-4f79-8f61-61fd6bf85964",
      "name": "Get Unique",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Map unique results\nconst uniqueMap = new Map(\n  $('Get Unique')\n    .all()\n    .map(item => [item.json?.id, item.json ?? {}])\n);\n\n// Normalize phone to digits-only\nconst normalizePhone = (phone) =>\n  phone ? String(phone).replace(/\\D/g, '') : '';\n\n// Generic phone validation: must be non-empty and look like a valid phone number\nconst isValidPhone = (phone) => {\n  if (!phone) return false;\n  const digits = normalizePhone(phone);\n  return digits.length >= 7;\n};\n\n// Generic title casing helper\nfunction toTitleCase(text) {\n  if (!text) return text;\n  return text\n    .toLowerCase()\n    .split(/\\s+/)\n    .map(word => word.charAt(0).toUpperCase() + word.slice(1))\n    .join(' ');\n}\n\nconst resultItems = [];\n\nfor (let index = 0; index < items.length; index++) {\n  const item = items[index];\n  const result = item.json?.result ?? {};\n\n  const scrapedPhone = result.formatted_phone_number ?? null;\n  const placeId = result.place_id ?? null;\n  const url = result.url ?? null;\n\n  if (!scrapedPhone || !isValidPhone(scrapedPhone)) continue;\n\n  const uniqueJson = uniqueMap.get(placeId) ?? {};\n  const tablePhone = uniqueJson.Phone ?? item.json?.Phone ?? null;\n\n  if (tablePhone && normalizePhone(scrapedPhone) === normalizePhone(tablePhone)) continue;\n\n  const rawName = uniqueJson.name ?? null;\n  const fixedName = toTitleCase(rawName);\n\n  resultItems.push({\n    json: {\n      id: uniqueJson.id ?? placeId ?? null,\n      name: fixedName,\n      phone: scrapedPhone,\n      url\n    },\n    pairedItem: item.pairedItem ?? { item: index }\n  });\n}\n\nreturn resultItems.length ? resultItems : [{ json: { empty: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        192
      ],
      "id": "ce20833c-b5c0-46d1-9227-52c140159c35",
      "name": "Get Formatted",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "96a80a08-7096-454b-97bc-41b066654de2",
              "leftValue": "={{ $json.empty }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1216,
        400
      ],
      "id": "5ce7568d-0415-4084-818b-e2562f37e332",
      "name": "If"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "ID"
            }
          ]
        },
        "options": {
          "mergeLists": true
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1600,
        384
      ],
      "id": "d2c570c9-d1d5-4efc-b0d4-b9554acf1cbf",
      "name": "Aggregate Insert"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      count: $input.first().json.ID.length\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        384
      ],
      "id": "cf6c38d0-ab3f-4539-99ca-bf90a60fa4d9",
      "name": "Count Insert"
    },
    {
      "parameters": {
        "content": "## Scrape",
        "height": 624,
        "width": 528
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        -80
      ],
      "typeVersion": 1,
      "id": "dd9a71ab-3910-459e-b57c-052f98911101",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Merge",
        "height": 624,
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        944,
        -80
      ],
      "typeVersion": 1,
      "id": "4caba3fe-b2bc-411a-a61e-1abcfe8f3b85",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Insert",
        "height": 624,
        "width": 544
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1392,
        -80
      ],
      "typeVersion": 1,
      "id": "3d1af0bf-8d23-4c24-ac8a-eb9d3d858ad4",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## End",
        "height": 624,
        "width": 160
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1952,
        -80
      ],
      "typeVersion": 1,
      "id": "70422431-f3fb-4c12-8ac5-9a0b0123ae36",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Start",
        "height": 624,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        192,
        -80
      ],
      "typeVersion": 1,
      "id": "6af3264e-4bd6-4c3d-80dc-6aa8c738081b",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# 🗺️ Google Maps Lead Scraper\n\nAn automated n8n workflow that searches for businesses on Google Maps, extracts their contact details, and saves unique leads into a Google Sheet.\n\n## 📋 Requirements\n* **n8n Instance:** Cloud or self-hosted via [n8n.io](https://n8n.io).\n* **Google Cloud API Key:** Needs the \"Places API\" enabled to scrape map data. Get this from the [Google Cloud Console](https://console.cloud.google.com/).\n* **Google Workspace Account:** To connect and use Google Sheets.\n\n## ⚙️ Step-by-Step Process\n\n1. **🚀 Start:** The workflow is triggered manually via an n8n Form. It sets initial variables and gets the target location.\n2. **🕵️ Scrape:** Makes API requests to Google Places to find businesses. It paginates through up to 3 pages of results, using \"Wait\" nodes to avoid API rate limits.\n3. **🔀 Merge:** Combines the results from all three scraped pages into one list and fetches detailed lead information.\n4. **💾 Insert:** \n   * Reads your existing Google Sheet.\n   * Compares the data to keep only unique leads (no duplicates).\n   * Filters out leads without phone numbers.\n   * Formats the data and appends the new leads into the Google Sheet.\n5. **🏁 End:** Finishes the process and returns a completed form screen.",
        "height": 624,
        "width": 608
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -432,
        -80
      ],
      "typeVersion": 1,
      "id": "c3f0a686-2d36-45d7-9f5f-666cf1ee69ef",
      "name": "Sticky Note5"
    }
  ],
  "pinData": {},
  "connections": {
    "Form End": {
      "main": [
        []
      ]
    },
    "Form Start": {
      "main": [
        [
          {
            "node": "Variable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2": {
      "main": [
        [
          {
            "node": "Page 2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Maps Page 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 4": {
      "main": [
        [
          {
            "node": "Get Unique",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Table": {
      "main": [
        [
          {
            "node": "Wait 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Leads": {
      "main": [
        [
          {
            "node": "Wait 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5": {
      "main": [
        [
          {
            "node": "Filter Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Table": {
      "main": [
        [
          {
            "node": "Aggregate Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Maps Location": {
      "main": [
        [
          {
            "node": "Maps Page 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variable": {
      "main": [
        [
          {
            "node": "Maps Location",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Maps Page 2": {
      "main": [
        [
          {
            "node": "Wait 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Maps Page 3": {
      "main": [
        [
          {
            "node": "Wait 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Page 1": {
      "main": [
        [
          {
            "node": "Merge Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Page 2": {
      "main": [
        [
          {
            "node": "Merge Page",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Page 3": {
      "main": [
        [
          {
            "node": "Merge Page",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Wait 1": {
      "main": [
        [
          {
            "node": "Page 1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Maps Page 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Maps Page 1": {
      "main": [
        [
          {
            "node": "Wait 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Page": {
      "main": [
        [
          {
            "node": "Aggregate Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Page": {
      "main": [
        [
          {
            "node": "Get Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3": {
      "main": [
        [
          {
            "node": "Page 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Phone": {
      "main": [
        [
          {
            "node": "Get Formatted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unique": {
      "main": [
        [
          {
            "node": "Get Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Formatted": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Add Table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Insert": {
      "main": [
        [
          {
            "node": "Count Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count Insert": {
      "main": [
        [
          {
            "node": "Form End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5be92589928b0de4efe393c059289760fbc27fff696c35d698486b52a2613630"
  },
  "id": "ENTER_YOUR_WORKFLOW_ID",
  "tags": [
    {
      "name": "Lead"
    },
    {
      "name": "Scrape"
    },
    {
      "name": "Data"
    }
  ]
}